{% extends "sector_analysis/layout.html" %}
{% block body %}
<script>
    console.log('test')
    function change_cols(ltp,val){
        if(val<ltp){
            console.log(val);
            this.style.backgroundColor = "red";
        } else {
            this.style.backgroundColor = "green";
        }
    }


</script>
<form class= "d-inline" action="" method="POST">
    <div id="Top_nav" class="border border-primary m-1 ">            
        <h1 class="d-inline">My Portfolio</h1>
            
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success m-1 " name="update_ltp" style="word-wrap: break-word;height:50px;width:130px;text-overflow: clip;">Update LTP</button>
            <input type="text" class="form-control d-inline-block" name="Capital" id="tb_cap" style="width:150px;text-align: center;" placeholder="Capital">
           <p>{{time_happen}}</p>
        
        

    </div>
<table>
    <thead>
        <tr>            
            <th></th>
            <th>Company</th>
            <th>Entry</th>
            <th>Exit</th>
            <th>Buy</th>
            <th>Qty</th>            
            <th>Buy Value</th>
            <th>Target</th>
            <th >SL</th>
            <th>+R</th>           
            <th>+2R</th>            
            <th>+3R</th>
            <th>Sell</th>
            <th>P/L</th>
            <th>LTP</th>
        </tr>
    </thead>
    <tbody>
    {% if d %}   
    {% for i in d %} 
      <tr> 
        <td><button type="submit" value="{{i.button_id}}" name="{{i.button_id}}" class="btn btn-outline-danger" >X  </button></td>
        <td><a href="{% url 'sector_analysis:charts' i.tikr %}">{{i.tikr}}</a></td>  
        <td>{{i.entry}}</td>
        <td>{{i.exit}}</td>
        <td>{{i.buy}}</td> 
        <td>{{i.qty}}</td> 
        <td>{{i.buy_value}}</td>        
        <td style="width:100px" title="P/L : {{i.Reward}}">
            {{i.t}}
            
            <div class="progress mb-1" >
                <div class="progress-bar" style="width:{{i.t_perc}}%" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
                
        </td> 
        <td title="P/L : {{i.Risk}}" style="background-color:{{i.Risk_color}};">{{i.Risk_p}}</td>        
        <td title="P/L : {{i.R1}}"  style="background-color:{{i.R1_color}};">{{i.R1_p}}</td>        
        <td title="P/L : {{i.R2}}"  style="background-color:{{i.R2_color}};">{{i.R2_p}}</td>        
        <td title="P/L : {{i.R3}}"  style="background-color:{{i.R3_color}};">{{i.R3_p}}</td>
        <td>{{i.sell}}</td>
        <td style="background-color:{{i.final_pl_color}};">{{i.final_p_l}}</td>        
        <td>{{i.ltp}}</td>
        </tr> 
    {% endfor %} 
    {% endif %}
    </tbody> 
</table>
</form>
{% endblock %}