{% extends "sector_analysis/layout.html" %}
{% block body %}
{% autoescape off %}
      
        
    
<script>
          // create an empty array
          var dict  = JSON.parse('{{dict}}');
            // console.log(dict);
            // console.log('{{sectors}}')
            DJANGO_STATIC_URL = '{{STATIC_URL}}';
            function remove_comp_buttons(){
                while(document.getElementById("comp_nav").getElementsByTagName("button").length>0){
                    // console.log(1);
                    btn = document.getElementById("comp_nav").getElementsByTagName("button")[0];
                    btn.remove();

                }
            }

            // d
            
            function convert_to_list(dict) {
                var arr = [];

                for (var key in dict) {
                    if (dict.hasOwnProperty(key)) {
                        arr.push( [ key ] );
                    }
                }
                return arr;
            }
            function round(value, decimals) {
                return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
                }

                // function checkTextField_is_blank(tb_id) {
                //      document.getElementById(tb_id).value===""? return True:return False;
                // }

            function checkval(tb_name){
                tb = document.getElementById(tb_name);
                // console.log(tb.value);
                // console.log(tb.value==='NaN');
                tb.value==='NaN'?tb.value="":tb.value;
            }
            function checkval_text(txt){
                console.log(txt==='NaN');
                txt==='NaN'?txt="":txt;
            }
            function calc_risk_reward(){

            var sell = parseFloat(document.getElementById('tb_l_sl').value);
            var profit = parseFloat(document.getElementById('tb_l_risk').value);
            var buy = parseFloat(document.getElementById('tb_l_cmp').value);
            qty =  parseFloat(-profit/(sell-buy));
            document.getElementById('tb_l_calc_qty').value = round(qty,2);
            document.getElementById('tb_l_calc_inv').value = round(qty*buy,2);
            // console.log(qty);fcons
            var final_buy = parseFloat(document.getElementById('tb_long_buy').value);
            var final_sell = parseFloat(document.getElementById('tb_long_target').value);
            var final_Qty = parseFloat(document.getElementById('tb_long_qty').value);
            var final_SL = parseFloat(document.getElementById('tb_long_sl').value);
            var final_profit = (final_sell-final_buy)*final_Qty;

            var final_r = (final_SL-final_buy)*final_Qty;

            var incr = final_buy-final_SL;
            var final_r1 = round(final_buy+incr,2);
            var final_r2 = round(final_buy+(2*incr),2);
            var final_r3 = round(final_buy+(3*incr),2);

            if (!(document.getElementById('tb_long_sl').value==="")) {
            document.getElementById('text_minus_r').innerText = final_SL.toString();
            
            document.getElementById('text_1r').innerText = final_r1.toString();
            document.getElementById('text_2r').innerText = final_r2.toString();
            document.getElementById('text_3r').innerText = final_r3.toString();
            }
            


            var final_buy_val = final_buy * final_Qty;
            document.getElementById('tb_long_buy_val').value = final_buy_val;
            document.getElementById('tb_long_profit').value = final_profit;
            document.getElementById('tb_long_net_profit').value = 0.85*final_profit;
            document.getElementById('tb_-r_').value = round(final_r,1);
            document.getElementById('tb_1r_').value = -round(final_r,1);
            document.getElementById('tb_2r_').value = -round(2*final_r,1);
            document.getElementById('tb_3r_').value = -round(3*final_r,1);
            
            checkval('tb_-r_');
            checkval('tb_1r_');
            checkval('tb_2r_');
            checkval('tb_3r_');

            checkval('tb_l_calc_qty');
            checkval('tb_l_calc_inv');
            checkval('tb_long_buy_val');
            
            checkval('tb_long_net_profit');
            
            checkval('tb_long_profit');
            }

            function create_buttons(sector){
                // console.log(sector);
                // console.log(dict);
                var tikrs = dict[sector];
                remove_comp_buttons();
                if (Object.keys(dict).indexOf(sector)!=-1){
                    for (i = 0, len = tikrs.length; i < len; i++) {
                        var div = document.getElementById('comp_nav');
                        var btn = document.createElement("BUTTON");
                        btn.innerText = tikrs[i];
                        btn.id = 'comp_'+tikrs[i];
                        btn.className = "btn btn-primary btn-sm m-1";
                        btn.addEventListener('click', function() {
                            elem = document.getElementById('comp_'+this.innerText);
                            img = document.getElementById("market_pic");
                            img.src = "/static/sector_analysis/images/"+sector+"/"+this.innerText+".png";
                            document.title = this.innerText;
                            document.getElementById('tb_tikr').value = this.innerText;
                        });
                        
                        div.appendChild(btn);
                    }
                }
                }
                
</script>
{% endautoescape %}
<form action="" method="POST">


    {% csrf_token %}    

<div class="border border-primary row m-1"  onchange="calc_risk_reward()" style="position:relative;width:1300px">
    <div class="border border-primary d-inline-block m-1 " onchange="calc_risk_reward()" style="width:64%;">
        <div class="row ml-1 ">
            <div class="text d-inline-block ml-2 mt-2" >Risk</div>
            <input type="number" step="0.05" aria-describedby="btnGroupAddon" class="form-control m-1 d-inline-block bg-danger text-white" id="tb_l_risk" style="width:70px" placeholder="Risk" value="200" onchange="calc_risk_reward()">             
            <div class="text d-inline-block ml-2 mt-2" >CMP</div>
            <input type="number" step="0.05"  class="form-control m-1 d-inline-block" id="tb_l_cmp" style="width:70px" 
            value="1000">         
            <div type="number" step="0.05"  class="text d-inline-block ml-2 mt-2" >SL</div>
            <input type="text" class="form-control m-1 d-inline-block" id="tb_l_sl" style="width:70px;text-align: center;" 
            value="990" >
            
            <div class="text d-inline-block ml-2 mt-2" >Calc Qty.</div>
            <input type="number" class="form-control m-1 d-inline-block" id="tb_l_calc_qty" style="width:70px" >
            <div class="text d-inline-block ml-2 mt-2"  >Invested</div>
            <input type="number" class="form-control m-1 d-inline-block" id="tb_l_calc_inv" style="width:100px" >
        </div>
        
        <div class="row ml-1">
            <input type="text" class="form-control m-1 d-inline-block" name="tkr" id="tb_tikr" style="width:150px;text-align: center;font-size-adjust: 0.58;" placeholder="TIKR">
            <input type="number" step="0.05" class="form-control m-1 d-inline-block" name="B" id="tb_long_buy" style="width:90px;text-align: center;" placeholder="Buy">
            <input type="number" step="1" class="form-control m-1 d-inline-block" name="Q" id="tb_long_qty" style="width:70px;text-align: center;" placeholder="Qty">
            
            <input type="number" step="0.05" class="form-control m-1 d-inline-block" name="SL" id="tb_long_sl" style="width:90px;text-align: center;" placeholder="SL">
            <input type="number" step="0.05" class="form-control m-1 d-inline-block" name="T" id="tb_long_target" style="width:90px;text-align: center;" placeholder="T">
            
            <input type="number" class="form-control m-1 d-inline-block" id="tb_long_buy_val" style="width:90px;text-align: center;" disabled placeholder="Buy Val.">
            <input type="number" class="form-control m-1 d-inline-block bg-success text-white" id="tb_long_profit" style="color:white;width:90px;text-align: center;" disabled placeholder="Profit">
            <input type="number" class="text m-1 d-inline-block text-success" id="tb_long_net_profit" style="width:90px;text-align: center;" disabled placeholder="Net P/L">
        </div>
        
    </div>
    <div class="border border-primary d-inline-block m-1" onchange="calc_risk_reward()" style="width:23%;">
        
        <div class="row mt-4 ml-1">
        <div class="text d-inline-block text-danger ml-1" id="text_minus_r" style="width:20%;text-align: center;">-R</div>
        <div class="text d-inline-block text-success ml-1" id="text_1r" style="width:20%;text-align: center;">+R</div>
        <div class="text d-inline-block text-success ml-1" id="text_2r" style="width:20%;text-align: center;">+2R</div>
        <div class="text d-inline-block text-success ml-1" id="text_3r" style="width:20%;text-align: center;">+3R</div>
        </div>  
        <div class="row ml-1 ">
        <input type="text" class="form-control d-inline-block ml-1 bg-danger text-white" id="tb_-r_" style="width:20%;text-align: center;"> 
        <input type="text" class="form-control d-inline-block ml-1 text-success" id="tb_1r_" style="width:20%;text-align: center;"> 
        <input type="text" class="form-control d-inline-block ml-1  bg-success text-white" id="tb_2r_" style="width:20%;text-align: center;"> 
        <input type="text" class="form-control d-inline-block ml-1  bg-success text-white" id="tb_3r_" style="width:20%;;text-align: center;"> 
        </div>
    
        </div>
        <div class="border border-primary d-inline-block mt-1 mb-1 " onchange="calc_risk_reward()" style="width:140px;height:100%;min-height: 100%;">
        <button type="submit" class="btn btn-outline-success m-1 " style="word-wrap: break-word;height:90px;width:130px;text-overflow: clip;">Add to Portfolio</button>
    </div>
    
</div>
</form>
<div id="Right_fr" class="row m-1" style="height:500px;width:1300px">
    
                <div class="border border-primary d-inline-block ml-3" style="width:15%;text-align: center;">
                    {% for sector in sectors %}
                    <button button type="button" class="btn btn-success m-1" 
                    onclick="create_buttons('{{sector}}') " >{{ sector }}</button> <br />
                    {% endfor %}
                </div>
                <div id="comp_nav" class="border border-primary d-inline-block ml-2 p-1" style="width:15%">
                    
                </div>
                <div id="Left_fr" class="border border-primary d-inline-block ml-2" style="width:65%">
                    <img id="market_pic" style="max-width:100%;
                    max-height:100%;" />
                    
                </div>
</div>

{% endblock %}

