
       {% extends "sector_analysis/layout.html" %}
       {% block body %}
        
        <form action="" method="POST">


            {% csrf_token %}    

        <div class="border border-primary row m-1"  onchange="calc_risk_reward()" style="position:relative;">
            <div class="border border-primary d-inline-block m-1 " onchange="calc_risk_reward()" style="width:63%;">
                <div class="row ml-1 ">
                    <div class="text d-inline-block ml-2 mt-2" >Risk</div>
                    <input type="text" aria-describedby="btnGroupAddon" class="form-control m-1 d-inline-block bg-danger text-white" id="tb_l_risk" style="width:70px" placeholder="Risk" value="200" onchange="calc_risk_reward()">             
                    <div class="text d-inline-block ml-2 mt-2" >CMP</div>
                    <input type="text" class="form-control m-1 d-inline-block" id="tb_l_cmp" style="width:70px" 
                    value="1000">         
                    <div class="text d-inline-block ml-2 mt-2" >SL</div>
                    <input type="text" class="form-control m-1 d-inline-block" id="tb_l_sl" style="width:70px;text-align: center;" 
                    value="990" >
                    
                    <div class="text d-inline-block ml-2 mt-2" >Calc Qty.</div>
                    <input type="text" class="form-control m-1 d-inline-block" id="tb_l_calc_qty" style="width:70px" >
                    <div class="text d-inline-block ml-2 mt-2"  >Invested</div>
                    <input type="text" class="form-control m-1 d-inline-block" id="tb_l_calc_inv" style="width:100px" >
                </div>
                
                <div class="row ml-1">
                    <input type="text" class="form-control m-1 d-inline-block" name="tkr" id="tb_tikr" style="width:150px;text-align: center;font-size-adjust: 0.58;" placeholder="TIKR">
                    <input type="text" class="form-control m-1 d-inline-block" name="B" id="tb_long_buy" style="width:70px;text-align: center;" placeholder="Buy">
                    <input type="text" class="form-control m-1 d-inline-block" name="Q" id="tb_long_qty" style="width:70px;text-align: center;" placeholder="Qty">
                    
                    <input type="text" class="form-control m-1 d-inline-block" name="SL" id="tb_long_sl" style="width:70px;text-align: center;" placeholder="SL">
                    <input type="text" class="form-control m-1 d-inline-block" name="T" id="tb_long_target" style="width:70px;text-align: center;" placeholder="T">
                    
                    <input type="text" class="form-control m-1 d-inline-block" id="tb_long_buy_val" style="width:100px;text-align: center;" disabled placeholder="Buy Val.">
                    <input type="text" class="form-control m-1 d-inline-block bg-success text-white" id="tb_long_profit" style="color:white;width:100px;text-align: center;" disabled placeholder="Profit">
                    <input type="text" class="text m-1 d-inline-block text-success" id="tb_long_net_profit" style="width:100px;text-align: center;" disabled placeholder="Net P/L">
                </div>
                
            </div>
            <div class="border border-primary d-inline-block m-1" onchange="calc_risk_reward()" style="width:24%;">
               
                <div class="row ml-1 mt-4      ">
                <div class="text d-inline-block text-danger ml-1" id="text_minus_r" style="width:20%;text-align: center;">-R</div>
                <div class="text d-inline-block text-success ml-1" id="text_1r" style="width:20%;text-align: center;">+R</div>
                <div class="text d-inline-block text-success ml-1" id="text_2r" style="width:20%;text-align: center;">+2R</div>
                <div class="text d-inline-block text-success ml-1" id="text_3r" style="width:20%;text-align: center;">+3R</div>
                </div>  
                <div class="row ml-1">
                <input type="text" class="form-control d-inline-block ml-1 bg-danger text-white" id="tb_-r_" style="width:20%;text-align: center;"> 
                <input type="text" class="form-control d-inline-block ml-1 text-success" id="tb_1r_" style="width:20%;text-align: center;"> 
                <input type="text" class="form-control d-inline-block ml-1  bg-success text-white" id="tb_2r_" style="width:20%;text-align: center;"> 
                <input type="text" class="form-control d-inline-block ml-1  bg-success text-white" id="tb_3r_" style="width:20%;;text-align: center;"> 
                </div>
            
             </div>
             <div class="border border-primary d-inline-block m-1 " onchange="calc_risk_reward()" style="width:140px;height:100%;min-height: 100%;">
                <button type="submit" class="btn btn-outline-success m-1 " style="word-wrap: break-word;height:100px;width:130px;text-overflow: clip;">Add to Portfolio</button>
            </div>
            
        </div>
        </form>
        <div id="Right_fr" class="row" style="height:500px">
            
                        <div class="border border-primary d-inline-block ml-3" style="width:15%;left:5%;text-align: center;">
                            {% for sector in sectors %}
                            <button button type="button" class="btn btn-success mr-1 mt-3 ml-1" 
                            onclick="create_buttons('{{sector}}') " >{{ sector }}</button> <br />
                            {% endfor %}
                        </div>
                        <div id="comp_nav" class="border border-primary d-inline-block ml-2 p-1" style="width:15%">
                            
                        </div>
                        <div id="Left_fr" class="border border-primary d-inline-block ml-2" style="max-width:100%;max-height: 100%;">
                            <img id="market_pic"  />
                            
                        </div>
        </div>
        
        {% endblock %}

