#Left_fr {
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
    width:900px;
    height:1000px;
    padding:20px;
    border-style: dotted;
    float:left;
    margin-left:20px;
    margin-right:20px;
   }

#Right_fr {
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
    width:200px;
    height:1000px;
    padding:20px;
    border-style: dotted;
    float:left;
    margin-left:20px;
    margin-right:20px;
   }

#container {
    display: flex;
    flex-wrap: wrap;
}

#Top_nav{
    width:1225px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
    height:75px;    
    border-style: dotted;
    float:left;
    margin-left:20px;
    margin-bottom:20px;
   }

 #sec_nav{
    width:1225px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
    height:75px;    
    border-style: dotted;
    float:left;
    margin-left:20px;
    margin-bottom:20px;
}

#btn_create{
    color:blue;
}

#comp_nav{
    width:1225px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
    height:75px;    
    border-style: dotted;
    float:left;
    margin-left:20px;
    margin-bottom:20px;
}
   
#lft_nav {
    width:1225px;
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
    height:75px;    
    border-style: dotted;
    float:left;
    margin-left:20px;
    margin-bottom:20px;
   }

#sec_nav p {
    float:left;
    margin:20px;
}


#Top_nav p {
    float:left;
    margin:20px;
}